.Blockreact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FlexColumnreact {
    flex-direction: column;
}

.FlexRowreact {
    flex-direction: row;
}

.navbar {
    justify-content: space-between;
}